.fieldAddExercise {
  display: flex;
  background: #282c39;
  width: 190px;
  margin-right: 6px;
  margin-bottom: 2px;
}

.wrapperForm input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 150px;
  text-align: left;
  font-size: 16px;
  color: #b17c2e;
  margin: 5px 5px 0 5px;
} 

.wrapperForm input:focus {
  outline: none;    
}

.underEdit {
  background-color: #b17c2e;
  margin: 0 5px 10px 5px;
  height: 1px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttonOnForm {
  align-self: flex-end;
  background: url('../../images/baseline-add_circle_outline-24px.svg');
}

.buttonCansel {
  background: url('../../images/baseline-clear-24px.svg');
}