.fieldAddExercise {
  composes: background_color-general_color from '../../styles.css';
  display: flex;
  width: 190px;
  margin-bottom: 6px;
}

.textInput {
  composes: color-active_text from '../../styles.css';
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 150px;
  text-align: left;
  font-size: 16px;
  margin: 5px 5px 0 5px;
} 

.wrapperForm input:focus {
  outline: none;    
}

.underEdit {
  composes: background_color-active_text from '../../styles.css';
  margin: 0 5px 10px 5px;
  height: 1px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttonOnForm {
  composes: background-image_button_arrow_down from '../../styles.css';
  align-self: flex-end;
}

.buttonCansel {
  composes: background-image_button_clear from '../../styles.css';
}