.exercise {
  composes: background_color-general_color from '../../styles.css';
  margin-bottom: 2px;
  width: 190px;
  height: 72px;
  
}

.wrappingButtons {
  display: flex;
  justify-content: flex-end;
}

.buttonAdd{
  composes: background-image_button_add from '../../styles.css';
}

.buttonDel{
  composes: background-image_button_del from '../../styles.css';
}

.wrappingExerciseName {
  composes: color-active_text from '../../styles.css';
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 2px;
  font-size: 16px;
}