.block {
  display: flex;
  margin: 6px 0 6px 6px;
}

.buttonToggle {
  composes: background-image_button_toggle_previous from '../../styles.css';
}

.buttonToggle_hidden {
  composes: background-image_button_toggle_next from '../../styles.css';
}

.wrapperButton {
  composes: background_color-most_light from '../../styles.css';
  margin-left: 2px;
}

.wrapperExercise_hidden {
  display: none;
}

.up {
  composes: background_color-most_light from '../../styles.css';
  height: 27px;
  margin: 0 0 6px 0;
  width: 190px;
  composes: color-not_active_text from '../../styles.css';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.up p {
  margin: 0;
}

.down {
  composes: background_color-most_light from '../../styles.css';
  height: 27px;
  margin: 6px 0 2px 0;
  width: 190px;
  composes: color-not_active_text from '../../styles.css';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.down p {
  margin: 0;
}
