.app button {
  /* background-color: #7E93A8; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, .4); */
  /* border-radius: 2px; */
  border: 0px;
  margin: 1px;
  width: 25px;
  height: 25px;
}

.app button:focus {
  outline: none;    
}
