@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor_blue, _darkcolor, _whitecolor from colors;

.app {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app button {
  padding: 0px;
  border: 0px;
  margin: 2px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid _backgroundcolor_blue;
  border-radius: 3px;
}

.app button:focus {
  outline: none;   
}

.app button:hover {
  box-sizing: border-box;
  /* outline: 1px solid black; */
  border: 1px solid _darkcolor;
  border-radius: 3px;
}

.app text {
  margin: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  margin: 6px;
}

::-webkit-scrollbar-thumb{
  border: 1px solid _darkcolor;
  background-color: _backgroundcolor_blue;
}

::-webkit-scrollbar-track {
  background-color: _whitecolor;
}

/* -------------------------------------- */

button {
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

/* -------------------------------------- */
