@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor_red, _darkcolor, _textcolor, _blackcolor from colors;

.infoWindowFalse {
  display: none;
}

.infoWindowTrue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.window {
  background-color: _backgroundcolor_red;
  border: 1px solid _darkcolor;
  display: flex;
  flex-direction: column;
  z-index: 1002;
}

.textareaExercise {
  color: _blackcolor;
  border: none;
  resize: none;
  width: 100%;
  height: 20px;
  text-align: center;
  border: 1px solid _darkcolor;
  border-radius: 4px;
}

.textareaNotes {
  color: _blackcolor;
  border: none;
  resize: none;
  width: 100%;
  height: 100px;
  text-align: center;
  border: 1px solid _darkcolor;
  border-radius: 4px;
}


textarea:focus {
  outline: none;    
}

.up {
  height: 27px;
  width: 100%;
  color: _textcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.wrappingButtons {
  /* border: 5px solid yellow; */
  display: flex;
  justify-content: flex-end;
}

.wrappingExerciseName {
  /* border: 5px solid green; */
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 20px;
}

.wrappingInfo {
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 20px;
}

.buttonSave{
  composes: background-image_button_save from '../../globalCSS/images.css';
}

.buttonDel{
  composes: background-image_button_minus from '../../globalCSS/images.css';
}