.dayOfExercises {
  display: flex;
  flex-direction: column;
  background: #0e151b;
  border-radius: 2px;
  margin: 6px;
}

.dayOfExercises .wrappingDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  background: #3b3e4a;
  color: white;
  border-radius: 2px 2px 0 0;
}