.dayOfExercises {
  display: flex;
  flex-direction: column;
  background: #0e151b;
  margin: 6px;
}

.dayOfExercises .wrappingDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  background: #3b3e4a;
  color: #4a6f89;
}

.buttonDel{
  background: url('../../images/baseline-clear-24px.svg');
}