@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor_blue, _darkcolor, _textcolor, _blackcolor from colors;


.edit {
  background-color: _backgroundcolor_blue;
  border: 1px solid _darkcolor;
  margin-right: 2px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.textInput {
  color: _blackcolor;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 30px;
  text-align: center;
  font-size: 16px;
}  

.edit input:focus {
  outline: none;    
}

.buttonDel{
  composes: background-image_button_del from '../../globalCSS/images.css';
}

.edit .textCount {
  font-size: 16px;
  margin: auto;
}

.wrapperButton{
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.wrapperCount{
  /* border: 1px solid green; */
  color: _textcolor;
  display: flex;
  justify-content: center;
}

.wrapperText {
  /* border: 1px solid blue; */
  color: _textcolor;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 2px;
}

.wrapperEdits {
  border: 1px solid _darkcolor;
  border-radius: 4px;
  margin: 1px;
  display: flex;
  justify-content: space-between;
}

.wrapperText p {
  margin: 2px;
}

.wrapperCount p {
  margin: 2px;
}