.edit {
  border-radius: 2px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  background-color: #0e151b;
}

.edit input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 30px;
  text-align: center;
  font-size: 16px;
  color: #b17c2e;
}  

.edit input:focus {
    outline: none;    
  }

.buttonDel{
  background: url('../../images/baseline-remove_circle_outline-24px.svg') no-repeat;
}

.edit .textCount {
  font-size: 16px;
  margin: auto;
}

.edit .wrapperButton{
  display: flex;
  justify-content: flex-end;
  background-color: #282c39;
  margin-top: 2px;
}

.edit .wrapperCount{
  display: flex;
  justify-content: center;
  background-color: #282c39;
}

.edit .wrapperText {
  display: flex;
  justify-content: space-between;
  background-color: #282c39;
  margin-bottom: 2px;
}

.edit .wrapperEdits {
  display: flex;
  justify-content: space-between;
  background-color: #282c39;
}

.wrapperText p {
  font-size: 12px;
  margin: 2px;
  color:#4a6f89;
}

.wrapperCount p {
  margin: 2px;
  color:#4a6f89
}