.edit {
  composes: background_color-most_dark from '../../styles.css';
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.textInput {
  composes: color-active_text from '../../styles.css';
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 30px;
  text-align: center;
  font-size: 16px;
}  

.edit input:focus {
  outline: none;    
}

.buttonDel{
  composes: background-image_button_del from '../../styles.css';
}

.edit .textCount {
  font-size: 16px;
  margin: auto;
}

.wrapperButton{
  composes: background_color-general_color from '../../styles.css';
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.wrapperCount{
  composes: background_color-general_color from '../../styles.css';
  composes: color-not_active_text from '../../styles.css';
  display: flex;
  justify-content: center;
}

.wrapperText {
  composes: background_color-general_color from '../../styles.css';
  composes: color-not_active_text from '../../styles.css';
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 2px;
}

.wrapperEdits {
  composes: background_color-general_color from '../../styles.css';
  display: flex;
  justify-content: space-between;
}

.wrapperText p {
  margin: 2px;
}

.wrapperCount p {
  margin: 2px;
}