@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor_blue, _whitecolor from colors;

.block {
  /* border: 5px solid orange; */
  background-color: _whitecolor;
  flex-grow: 1;
  overflow-y: auto;
}