@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor_blue, _backgroundcolor_red, _darkcolor, _textcolor, _blackcolor, _whitecolor from colors;

.trainingExercise {
  /* border: 5px solid blueviolet; */
  background-color: _whitecolor;
  display: flex;
  border-radius: 2px;
  margin-top: 4px;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.wrappingExercise {
  background-color: _backgroundcolor_blue;
  border: 1px solid _darkcolor;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 180px;
  margin-top: 2px;
}

.wrappingButtons {
  /* border: 5px solid green; */
  display: flex;
  justify-content: flex-start;
}

.wrappingSets {
  display: flex;
}

.wrappingExerciseName {
  color: _blackcolor;
  border: 1px solid _darkcolor;
  border-radius: 4px;
  margin: 4px;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 2px;
  font-size: 16px;
}

.buttonInfo{
  composes: background-image_button_info from '../../globalCSS/images.css';
}

.buttonDel {
  composes: background-image_button_minus from '../../globalCSS/images.css';
}

.buttonAdd {
  composes: background-image_button_add from '../../globalCSS/images.css';
}

.buttonSaved {
  composes: background-image_button_save from '../../globalCSS/images.css';
}

.buttonReady {
  composes: background-image_button_save from '../../globalCSS/images.css';
  background-color: _darkcolor;
}