.trainingExercise {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  background: #7E93A8;
  border-radius: 2px;
  margin: 5px;
}

.trainingExercise .wrappingUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  /* border: 1px solid red; */
  background: #2C3E50;
  color: white;
  margin-bottom: 3px;
  border-radius: 2px 2px 0 0;
  /* margin-top: 3px; */
}

/* .wrappingUp p {
  color: white;
} */

.trainingExercise .wrappingDown {
  display: flex;
}

.trainingExercise .wrappingButton {
  display: flex;
  flex-direction: column;
}

.buttonDel{
  background: url('../../images/outline_clear_white_24dp.png') no-repeat;
}

.buttonAdd{
  background: url('../../images/baseline-add_circle_outline-24px.svg') no-repeat;
}

.buttonSave{
  background: url('../../images/baseline-save-24px.svg') no-repeat;
}