.trainingExercise {
  composes: background_color-most_dark from '../../styles.css';
  display: flex;
  border-radius: 2px;
  margin-top: 4px;
}

.wrappingExercise {
  composes: background_color-general_color from '../../styles.css';
  display: flex;
  flex-direction: column;
  width: 180px;
  min-width: 180px;
  margin-top: 2px;
}

.wrappingButtons {
  display: flex;
  justify-content: flex-end;
}

.wrappingSets {
  display: flex;
}

.wrappingExerciseName {
  composes: color-active_text from '../../styles.css';
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 2px;
  font-size: 16px;
}

.buttonInfo{
  composes: background-image_button_info from '../../styles.css';
}

.buttonDel {
  composes: background-image_button_minus from '../../styles.css';
}

.buttonAdd {
  composes: background-image_button_add from '../../styles.css';
}

.buttonSaved {
  composes: background-image_button_save from '../../styles.css';
}

.buttonReady {
  composes: background-image_button_save from '../../styles.css';
  background-color: #b17c2e;
}