.header {
  border: 5px solid yellow;
  composes: background_color-general_color from '../../styles.css';
  min-height: 70px;
  max-height: 70px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.link {
  composes: color-not_active_text from '../../styles.css';
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
}

.header div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header p {
  padding-left: 10px;
  font-size: 20px;
  color: #b17c2e;
}

.logo {

}

.logo:before {
  content: "training diary"
}

@media screen and (max-width: 700px) {
  .logo:before {
    content: "TD"
  } 
}