.header {
  composes: background_color-general_color from '../../styles.css';
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #0e151b;
}

.nav {
  display: flex;
}

.link {
  composes: color-not_active_text from '../../styles.css';
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
}

.header div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header p {
  padding-left: 10px;
  font-size: 20px;
  color: #b17c2e;
}
